<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stream API Integration</title>
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/home.css" />
  </head>
  <body>
    <div class="container">
      <img
        src="/stream-logo.svg"
        width="120px"
        alt="Stream Logo"
        class="logo"
      />
      <h1>Stream API Integration</h1>
      <p>
        Welcome to the Stream Express Boilerplate. Explore the examples below to
        get started with payment integration.
      </p>

      <div class="nav-links">
        <a href="/shop" class="nav-link">List products </a>
        <a
          href="https://docs.streampay.sa"
          target="_blank"
          rel="noopener noreferrer"
          class="nav-link"
          >View Documentation</a
        >
      </div>
    </div>
  </body>
</html>
